/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del body */
body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Contenedor principal */
.flex-container {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Encabezados */
h1,
h2 {
    margin-bottom: 20px;
    color: #444;
    font-size: clamp(18px, 8vw, 60px);
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    gap: 8px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #aaa;
    outline: none;
}

input[type="text"]::placeholder {
    color: #aaa;
}

input[type="number"]::placeholder {
    color: #aaa;
}

select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

.categoria--title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 8px;
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.robotica--title {
    color: #4eac44;
    border-bottom: 5px solid #4eac44;
}

.impresion3d--title {
    color: #007bff;
    border-bottom: 5px solid #007bff;
}

.categoria--arrow.arrow--2 {
    background-color: #007bff;
}

.categoria--arrow.arrow--1 {
    background-color: #4eac44;
}

.categoria--arrow {
    padding: 10px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    margin-bottom: 12.5px;
}


/* Botones generales */
button {
    opacity: 0.8;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 50%;
    font-weight: bold;
}

button:hover {
    opacity: 1;
}

/* Lista de items */
ul {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
    padding: 0;
    list-style: none;
}

li {
    background: #fff6e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    transition: all 0.2s ease;
}

li:hover {
    transform: scale(1.03);
    opacity: 1;
}

/* Botón para borrar dentro de cada item */
li button {
    background: #dc3545;
    margin-top: 10px;
}

li input {
    margin-bottom: 5px;
}

.options--container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit--button {
    background-color: #e39e49;
}

.confirm--button {
    background-color: #4eac44;
}

.cancel--button {
    background-color: #dc3545;
}

.quantity--container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.quantity--button {
    background-color: #007bff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}

.quantity--input {
    max-width: 100px;
    text-align: center;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    button {
        width: 100%;
    }
}

.login--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login--input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.login--button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
}